<launch>

    <arg name="uav_id" default="3"/>

    <group ns="uav_$(arg uav_id)">
        <!-- Launch robot id=1 -->
        <include file="$(find px4_bringup)/launch/spawn_robot.launch">
            <arg name="id"      value="$(arg uav_id)"/>
            <arg name="mode"    value="custom"/>
            <arg name="fcu_url" value="serial:///dev/ttyUSB0:57600"/>
            <!-- <arg name="gcs_url" value="udp://@10.42.0.129:14550"/> -->
            <arg name="gcs_url" value="udp://@192.168.0.123:14550"/>
        </include>

        <!-- Launch mission_lib node for uav id=1 -->
        <node pkg="onboard_px4" type="px4_mission_node" name="px4_mission_node" output="screen">
            <param name="uav_id" value="$(arg uav_id)"/>
            <param name="pose_frame_id" value="map"/>
            <param name="home_pose_parent_frame" value="map"/>
            <!-- <rosparam param="map_origin_geo">[38.13931349915096, -3.173436419425258, 445]</rosparam> -->
        </node>
        
        <include file="$(find wirispro_manager)/launch/wirispro_manager_tcp.launch">
        </include>
    </group>

</launch>
